/*Selectores de clase bootstrap*/



/*Selectores de clase mías*/

.encabezado{
    width: 100%;
}

.logotipo{
    width: 150px;
    padding: 10px 0;
}

.links{
    margin-left: 10px; 
}
    
.iconos-redes-header{
    height:30px;
    width: 30px;
    margin: 10px 3px; 
}

.boton-header{
    margin-left: 3px; 
}



/*Selectores de id*/

